[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
django-registration = "*"
Django = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
codecov = "*"
q = "*"
model_mommy = "*"
